<div style="padding:50px"{{ attributes }}>
  <h1 class="text-2xl font-bold underline">
   Przykład zastosowania pętli for:
  </h1>
    {{ this.petlafor()| raw}}
     <h1 class="text-2xl font-bold underline">
   Przykład zastosowania pętli for z dodatkową instrukcją:
  </h1>
    {{ this.petlafor01()| raw}}
<h1 class="text-2xl font-bold underline">
   Przykład zastosowania pętli for z if brak:
  </h1>
    {{ this.petlafor2()| raw}}

    {{ this.petlafor3()| raw}} </br>

    {{ this.petlafor4()}}</br>

     {{ this.warunek()}}
</div>